@charset "UTF-8";

:root{
    /* COLORS.tools violent violet */
    --main_violet: #7f00ff;
    --light_violet: #b266ff;
    --xlight_violet: #e5ccff;
    --dark_violet: #4c0099;
    --xdark_violet: #190033;
}
header{
    background-color: var(--main_violet);
    color: var(--xlight_violet);
}
header h1{
    text-shadow: 0 5px 15px var(--xdark_violet);
    
    margin: auto;
    padding: 20px;
}
header nav ul{
    background-color: var(--dark_violet);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
header nav ul li{
    display: inline;
    float: left;
    font-weight: bolder;
}
header nav ul a{
    display: block;
    padding: 8px;
    background-color: var(--dark_violet);
    color: var(--xlight_violet);
    text-decoration: none;
}
header nav ul a:hover{
    background-color: var(--xlight_violet);
    color: var(--dark_violet);
}
header nav ul a:active{
    background-color: var(--xdark_violet);
    color: var(--light_violet);
}

footer{
    background-color: var(--main_violet);
    color: var(--xlight_violet);
    font-weight: lighter;
}